*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'BelleAllure';
    src: url('./fuentes/BelleAllureCM-Fin.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Weather Sunday';
    src: url('./fuentes/Weather\ Sunday\ -\ Personal\ Use.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RetroVintage';
    src: url('./fuentes/RetroVintage-Regular.otf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
  }
  :root{
    /*fuentes*/
    --fuenteBelle: 'BelleAllure', sans-serif;
    --fuenteWeather: 'Weather Sunday', sans-serif;
    --fuenteRetro: 'RetroVintage', sans-serif;
    --fuenteArial: 'Arial';
     /*colores*/
     --colorNaranjaBajo: #ffa71e;
     --colorNaranjafuertecito: #ff9000;
     --colorAzul:  #6ec5b8;
     --colorGris:  #c4c4bb;
     --colorNaranjamuyfuerte:  #dc5c05;
  }
body {
    font-family: var(--fuenteBelle);
  }
.main{
    display: flex;
    width:fit-content;
    flex-wrap:nowrap;
    height: 100vh;
}
.section1{
    display: flex;
    background: var(--colorNaranjaBajo);
    width: 25vw;
    height: 100%;
}

.section2{
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-right: 200px;
}

.section{
    display: flex;
    width: 65vw;
    height: 100vh;
    position: relative;
    padding-right: 150px;
}

.tres{
    background-color: var(--colorAzul);
    overflow: hidden;
}

.cuatro{
    background-color: var(--colorNaranjamuyfuerte);
    overflow: hidden;
}

.tres::before{
    content: 'Parcial 2';
    color: rgb(255, 255, 255);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    left: -73px;
    top: 20px;
}

.cuatro::before{
    content: 'Parcial 3';
    color: var(--colorAzul);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    left: -73px;
    top: 20px;
}

.div-info__1{
    padding:  20px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
}

.div-info__1::after{
    content: 'Menu';
    color: rgb(255, 255, 255);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    right: -90px;
    top: 20px;
}

.section2::after{
    content: 'Menu';
    color:  var(--colorNaranjaBajo);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    left: -75px;
    top: 20px;
    width: 30px;
    z-index: -1;
}

.section2::before{
    content: 'Parcial 2';
    color:  var(--colorAzul);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    right: -155px;
    top: 20px;
    width: 30px;
    z-index: -1;
}

.tres::after{
    content: 'Parcial 3';
    color:  var(--colorNaranjamuyfuerte);
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
    position: absolute;
    right: 40px;
    top: 20px;
    width: 30px;
}

.sp-info1{
    font-size: 20px;
}
.h2{
    font-size: clamp(4rem, 0.429rem + 9.524vw, 9rem);
    font-family: var(--fuenteArial);
    letter-spacing: 10px;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}
.h2.titcolor1,
.h2.titcolor2 {
    position: relative;
    writing-mode: vertical-lr;
    height: 100px;
    width: 30px;
}

.h2.titcolor1::before {
    position: absolute;
    top: 70%; /* Ajustar */
    left: -145%; /* Ajustar */
    content: 'Menu';
    color: #fff;
}

/* amooor */

.h2.titcolor2::before {
    position: absolute;
    top: 70% ; /* Ajustar */
    left: -245%; /* Ajustar */
    content: 'Menu';
    /* margin: 2% 0 0 -45.5%; Ajustar si es necesario */
    color: var(--colorNaranjaBajo);
}
.divImg-card{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img{
    width: 300px;
    height: 250px;
    
}


/* der anfang ist das ende und das ende ist der anfang , que dice aqui no puede ser :(*/
.div-cards{
    position: relative;
    margin: 20px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    /* flex: 1 2 200px;Crecimiento, contracción, tamaño base */
    align-items: center;
    justify-content: center;
    gap: 20%;
    flex-wrap: wrap; 
}

.card{
    position: absolute; 
    width: 100px;
    height: 180px;
    background: var(--colorNaranjaBajo);
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
}
.information{
    margin: 0 10px;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.image{
    position: absolute;
    width: 180px;
    min-height: 160px;
    right: -170px;
    border-radius: 10px;
    background-color: #f9f9f9;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
/*Circulitos de nuestros nombres*/
.span-imgnombres1,
.span-imgnombres2{
    position: relative;
    width: 50px;
    height: 50px;
    display:grid;
}
.span-imgnombres1::before{
    content: 'Junior';
    font-size: 16px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorGris);
    z-index: 2;
    color: #000;
    border-radius: 50%;
    font-family: var(--fuenteArial);
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-imgnombres2::before{
    content: 'Marili';
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--colorGris);
    z-index: 2;
    border-radius: 50%;
    bottom: 0;
    color: #000;
    transform: translateX(130px);
    font-family: var(--fuenteArial);
    font-size: 16px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateX(130px);
    -moz-transform: translateX(130px);
    -ms-transform: translateX(130px);
    -o-transform: translateX(130px);
}
.responsive-svg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}